* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "poppins", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "poppins", sans-serif;
  background-color: rgb(255, 255, 255);
  color: #1a1a1a;
}
.container {
  width: 80%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0;
}
.header {
  padding: 20px 0;
  width: 100%;
}
.header_logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 30px;
}

.header_logo-img {
  height: 100%;
  width: auto;
  flex-shrink: 0;
}
.header__logo-text {
  font-size: 42px;
  font-weight: bold;
  color: #0e76bc;
  letter-spacing: 1px;
  line-height: 1;
}
.header__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px;
  flex-wrap: wrap;
}

.header__nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
}
.header__nav-link {
  text-decoration: none;
  color: #555555;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease;
}
.header__nav-link:hover {
  color: #0e76bc;
}
.btn-download {
  background-color: #ffbb00;
  columns: black;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  transition: transform 0.2s ease;
}
.menu-checkbox,
.menu-trigger {
  display: none;
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0;
  gap: 80px;
}
.hero__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.hero__image-box {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.hero__main-img {
  width: 100%;
  max-width: 650px;
  height: auto;
  display: block;
}
.hero__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 86px;
  font-weight: 800;
  color: #1a1a1a;
  margin-bottom: 20px;
}
.hero__subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 450px;
  color: #656161;
}
.btn-hero {
  display: inline-block;
  background-color: #ffbb00;
  color: #1a1a1a;
  padding: 16px 40px;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 20px;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  transition: transform 0.3s ease;
}
.btn-hero:hover {
  transform: translateY(-9px);
}
.marquee {
  background-color: #0e76bc;
  position: relative;
  padding: 20px 0;
  width: 120%;
  margin-left: -10%;
  transform: rotate(-3deg);
  overflow: hidden;
  margin-top: 20px;
  z-index: 2;
  display: flex;
}
.marquee__content {
  display: flex;
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}
.marquee__content span {
  font-size: 28px;
  font-weight: 300;
  color: #ffffff;
  letter-spacing: 5px;
  padding-right: 50px;
  white-space: nowrap;
}
.marquee-stack {
  position: relative;
  width: 120%;
  margin-left: -10%;
  margin-top: 60px;
  margin-bottom: 60px;
  transform: rotate(-2deg);
  z-index: 5;
}
.marquee-layer {
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 1;
}
.layer-lemon,
.layer-orange {
  position: absolute;
}
.layer-orange {
  background-color: #ffbb00;
  top: -10px;
  z-index: 1;
  height: 80px;
  position: absolute;
  transform: rotate(1deg);
}
.layer-lemon {
  background-color: rgb(245, 249, 133);
  bottom: -10px;
  height: 80px;
  z-index: 1;
  width: 100%;
  transform: rotate(1deg);
}
.marquee-main-blue {
  position: relative;
  background-color: #0e76bc;
  width: 100%;
  padding: 25px 0;
  z-index: 2;
  overflow: hidden;
  display: flex;
}
.services {
  padding: 100px 0;
  background-color: #fffeff;
  text-align: center;
}
.services__intro {
  margin-bottom: 60px;
}
.services__tag {
  color: #0e76bc;
  letter-spacing: 2px;
  font-size: 14px;
}
.services__title {
  font-size: 42px;
  margin: 10px 0 20px;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.service-card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 20px;
  border: 1px solid #eeeeee;
  transition: all 0.3s ease;
}
.service-card--active {
  background-color: #f9d164;
  border-color: #ffbb00;
}
.service-card:hover {
  transform: translateY(-10ppx);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.service-card__icon img {
  height: 60px;
  margin-bottom: 20px;
}
.service-card__title {
  margin-bottom: 15px;
  font-size: 22px;
}
.projects {
  padding: 100px 0;
  background-color: white;
}
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}
.projects__title {
  font-size: 42px;
  font-weight: 800;
}
.projects__see-all {
  text-decoration: none;
  color: #555;
  font-weight: 600;
}
.projects__filters {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}
projects__filters {
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid #c42c2c;
  background: white;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
.filter-btn--active,
.filter-btn:hover {
  background-color: #0e76bc;
  color: white;
  border-color: #0e76bc;
}
.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.project-card {
  background: #f2e8e8;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.4s ease;
}
.project-card:hover {
  transform: translateY(-15px);
}
.project-card__image-box {
  padding: 30px 30px 0 30px;
}
.project-card__image-box img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(191, 21, 21, 0.1);
}
.project-card__content {
  padding: 25px 30px;
}
.project-card__content h3 {
  margin-bottom: 15px;
  font-size: 19px;
}
.project-card__tags {
  display: flex;
  gap: 10px;
}
.project-card__tags span {
  background: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #665f5f;
  text-transform: uppercase;
}
.about {
  padding: 100px 0;
  background-color: #f9f9f9;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.about__image-box {
  flex: 1;
}
.about__img {
  max-width: 100%;
  height: auto;
}
.about__content {
  flex: 1.2;
}
.about__tag {
  color: #0e76bc;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 26px;
}
.about__title {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 25px;
}
.about__text {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 40px;
}
.about__stats {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.stat-item {
  text-align: left;
}
.stat-icon {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}
.stat-item strong {
  color: #1a1a1a;
  font-size: 20px;
}
.cta {
  padding: 80px 0;
  background-color: #ffffff;
}
.cta__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta__title,
.cta__subtitle {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
  columns: #1a1a1a;
}
.btn-cta {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #ffbb00;
  color: #000000;
  text-decoration: none;
  padding: 8px 10px 8px 35px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 20px;
  transition: transform 0.3s ease;
}
.btn-cta:hover {
  transform: scale(1.05);
}
.btn-cta__icon {
  background-color: #1a1a1a;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-cta__icon i {
  font-style: normal;
  font-size: 24px;
}
.footer {
  background-color: #847e7e;
  padding-top: 80px;
  position-bottom:60px;
  color: #ffffff;
  width: 100%;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.footer__brand {
  flex: 2;
  min-width: 300px;
}
.footer__col {
  flex: 1;
}
.footer__brand .header_logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 0;
}
.footer__brand .header__logo-text {
  color: #0e76bc;
  font-size: 20px;
}
.footer__brand .header_logo-img {
  height: 60px;
  width: auto;
}
.footer__title {
  font-size: 18px;
  font-weight: 7000;
  margin-bottom: 25px;
  color: #ffffff;
  white-space: nowrap;
}
.footer__list {
  list-style: none;
}
.footer__list li {
  margin-bottom: 12px;
}
.footer__list a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.8;
 text-transform: capitalize;
}
.footer__list a:hover {
  opacity: 1;
  text-decoration: underline;
}
.footer__copyright {
  margin-top: 80px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  font-size: 13px;
  opacity: 0.6;
}
@media (max-width: 1024px) {
  .header_logo-img {
    height: 70px;
  }
  .header__logo-text {
    font-size: 28px;
  }
  .header__nav-list {
    gap: 20px;
  }
  .hero__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
  }
  .hero__title {
    font-size: 50px;
    line-height: 1.1;
  }
  .hero__main-img {
    max-width: 350px;
  }
  .hero__subtitle {
    font-size: 16px;
    max-width: 350px;
  }
  .marquee-stack {
    margin-top: 40px;
    margin-bottom: 50px;
    transform: rotate(-1.5deg);
  }
  .marquee-main-blue {
    padding: 20px 0;
  }
  .layer-orange,
  .layer-lemon {
    height: 10px;
  }
  .marquee__content span {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .header__nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    gap: 39px;
    border-bottom: none;
  }
  .header_logo-container {
    margin-bottom: 30px;
  }
  .header__nav-list {
    justify-content: center;
    padding-bottom: 10px;
  }
  .btn-download {
    padding: 8px 15px;
    font-size: 14px;
  }
  .hero__container {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
  }
  .hero__main-img {
    max-width: 300px;
  }

  .hero__text {
    flex: 1.5;
    text-align: left;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .hero__main-box {
    flex: 1;
  }
  .marquee-stack {
    margin-top: 40px;
    margin-bottom: 50px;
    transform: rotate(-1.5deg);
  }
  .marquee-main-blue {
    padding: 20px 0;
  }
  .layer-orange,
  .layer-lemon {
    height: 70px;
  }
  .marquee__content span {
    font-size: 22px;
  }
  .services__grid {
    grid-template-columns: 1fr;
  }
  .projects__grid {
    grid-template-columns: 1fr;
  }
  .projects__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .about__container {
    flex-direction: column;
    text-align: center;
  }
  .about__title {
    font-size: 36px;
  }
  .about__stats {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  .cta__container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
  .cta__title,
  .cta__subtitle {
    font-size: 32px;
  }
}
@media (max-width: 600px) {
  .header__nav-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .header_logo-container {
    margin-bottom: 30px;
  }
  .menu-trigger {
    display: block;
    position: absolute;
    top: 100px;
    right: 16px;
    font-size: 30;
    color: #1a1a1a;
    cursor: pointer;
    z-index: 10000;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  }
  .menu-checkbox:checked ~ .menu-trigger {
    transform: rotate(180deg);
    color: rgb(78, 244, 244);
  }
  .header__nav-list {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 0;
  }
  .header__nav-list li {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid orange;
    padding-bottom: 10px;
  }
  .header__nav-link {
    display: block;
    padding: 20px 0;
    font-size: 22px;
    width: 80%;
    margin: 0 auto;
  }
  .header__nav-list li:last-child .header__nav-link {
    border-bottom: none;
  }
  .header__nav-link:hover {
    background-color: rgba(223, 166, 34, 0.1);
  }
  .menu-close {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 40px;
    color: #ff4400;
    font-family: Arial;
    cursor: pointer;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #f0f4f6;

    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    padding-top: 80px;
    transform: translateY(-100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 9999;
    padding-top: 80px;
  }
  .menu-checkbox:checked ~ .header__nav {
    transform: translateY(0);
  }
  .marquee-stack {
    margin-top: 40px;
    margin-bottom: 50px;
    transform: rotate(-1.5deg);
  }
  .marquee-main-blue {
    padding: 20px 0;
  }
  .layer-orange,
  .layer-lemon {
    height: 70px;
  }
  .marquee__content span {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .header__logo-text {
    font-size: 22px;
  }
  .header_logo-img {
    height: 50px;
  }
  .header__nav-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .header_logo-container {
    margin-bottom: 30px;
  }
  .menu-trigger {
    display: block;
    position: absolute;
    top: 100px;
    right: 16px;
    font-size: 30;
    color: #1a1a1a;
    cursor: pointer;
    z-index: 10000;
    transition: transform 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  }
  .menu-checkbox:checked ~ .menu-trigger {
    transform: rotate(180deg);
    color: rgb(78, 244, 244);
  }

  .header__nav-list {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 0;
  }
  .header__nav-list li {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid orange;
    padding-bottom: 10px;
  }
  .header__nav-list li:last-child .header__nav-link {
    border-bottom: none;
  }
  .header__nav-link:hover {
    background-color: rgba(223, 166, 34, 0.1);
  }
  .header__nav-link {
    display: block;
    padding: 20px 0;
    font-size: 22px;
    width: 80%;
    margin: 0 auto;
  }
  .header__nav-list li:last-child .header__nav-link {
    border-bottom: none;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #f0f4f6;

    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 80px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    padding-top: 80px;
    transform: translateY(-100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 9999;
    padding-top: 80px;
    margin: 0 auto;
  }
  .menu-checkbox:checked ~ .header__nav {
    transform: translateY(0);
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 0;
    padding-top: 40px;
  }
  .hero__title {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .hero__subtitle {
    font-size: 15px;
    padding: 0 10px;
    margin-bottom: 25px;
  }
  .hero__image-box {
    margin-top: -30px;
    margin-left: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hero__main-img {
    max-width: 280px;
    height: auto;
  }
  .btn-hero {
    display: inline-block;
    background-color: #ffbb00;
    color: #1a1a1a;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    z-index: 10;
  }
  .marquee-stack {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .marquee-main-blue {
    padding: 10px 0;
  }
  .layer-orange,
  .layer-lemon {
    height: 40px;
  }
  .marquee__content span {
    font-size: 14px;
    letter-spacing: 2px;
  }
}
